@import url('https://fonts.googleapis.com/css2?family=Comme&family=Raleway:wght@300;400&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
:root{
    --swiper-theme-color: rgba(0, 0, 0, 0.831);
}
body{
    overflow-x: hidden;
    background-color: #f6ffde;
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
    cursor: pointer;
}

hr{
    width: 90vw;
    margin: auto;
    margin-top: 2rem;
    color: #bdbab0;
}

h2{
    font-size: 3rem;
}

.ml11 {
    font-weight: 700;
    font-size: 3em;
}

.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 1px;
  background-color: #fff;
  transform-origin: 0 50%;
}

.ml11 .line1 { 
  top: 0; 
  left: 0;
}

.ml11 .letter {
  display: inline-block;
  line-height: 1em;
}
  
/* Whats App code */
.whatsappIcon{
    bottom: 3rem;
    right: 3rem;
    z-index: 100;
    position: fixed;
}
.whatsapp {
    width: 4rem;
    height: 4rem;
    animation: scale 1s infinite alternate;
}

@keyframes scale {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
    }
}

footer p{
    margin-top: 1rem;
    font-size: 1.1rem;
    text-align: left;
}

.showcase{
    min-height: 100vh;
    right: 0;
    width: 100%;
    position: relative;
    z-index: 2;
}

header{
    top: 0;
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.329);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.whitelogo{
    width: 12rem;
    margin-left: 4rem;
}

.navlinks{
    display: flex;
    margin-right: 2rem;
    
}

.hamburger{
    font-size: 2rem;
    color: white;
    margin-right: 2rem;
    display: none;
    
}

.hamburger.cross i:before {
    content: "\f00d"; /* Unicode for Font Awesome cross icon */
    transition: 4s ease-in;
}
.hamburger {
    transition: transform 0.3s ease-in-out;
  }
  
  .hamburger.cross {
    transform: rotate(180deg);
  }
  
  .hamburger.cross:before {
    transform: rotate(0deg) translate(-8px, -8px);
  }

  .hamburger.cross:after {
    transform: rotate(0deg) translate(-8px, -8px);
  } 
  
.navlinks a li{
    list-style: none;
    font-size: 1.2rem;
    margin-right: 2rem;
    color: white;
    text-decoration: none;
}

.navlinks a li:hover{
    list-style: none;
    font-size: 1.2rem;
    margin-right: 2rem;
    color: white;
    border-bottom: 1.4px solid white;
    cursor: pointer;
}

video{
    resize: none;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    top: 0;
    left: 0;
}

.overcontent{
    display: flex;
    position: absolute;
    flex-direction: column;
    color: white;
    margin-left: 4rem;
    margin-top: -20rem;
    position: relative;
    z-index: 10;
    width: 70vw;

}

.explore{
    width: 8rem;
    height: 3rem;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    padding:0.5rem 1rem;
    border-radius: 0;
    background-color: white;
    border: none;
    cursor: pointer;
}

.explore:hover{
    width: 9rem;
    height: 3rem;
    transition: 0.5s ease-in-out;
}

@media (max-width:992px) {
    .hamburger{
        display: block;
    }
    header::after{
        background-color: rgba(0, 0, 0, 0.619);
    }
    .navlinks:active{
        display: block;
    }
    .navlinks{
        display: none;
        position: absolute;
        top: 83px;
        width: 100%;
        height: 90vh;
        padding-top: 3rem;
        background-color: rgba(0, 0, 0, 0.797);
        z-index: 1000;
    }

    .navlinks a li{
        text-align: center;
        padding-top: 2.5rem;
        margin-left: 0rem;
        font-size: 1.2rem;
        font-weight: 500;
        margin-right: 0rem;
    }
    .navlinks a li:hover{
        list-style: none;
        font-size: 1.2rem;
        margin-right: 0;
        color: white;
        border-bottom: none;
        cursor: pointer;
    }
    li{
        text-align: center;
        padding-top: 1rem;
        margin-left: 0rem;
        font-size: 1.2rem;
        margin-right: 0rem;
    }
    .whitelogo{
        width: 10rem;
        margin-left: 2rem;
    }
    .ml11{
        font-size: 1.5rem;

    }
    .overcontent{
        margin-left: 2rem;  
        width: 90%;
    }
    .nav-active {
        display: block;
    }

    .explore{
        font-size: 1rem;
        width: 6rem;
    }

    .explore:hover{
        font-size: 1rem;
        width: 7rem;
    }
}

div.container{
    width: 100vw;
    height: auto;
    background-color: white;
}


/* Footer Content */
footer{
    background-color: #f0ffcc;
    object-fit: cover;
    background-size: cover;
    height: auto;
    color: rgb(63, 63, 63);
    padding-top: 2rem;
    margin-top: 2rem;

}

footer .uppercontent{
    width: 90vw;
    margin: auto;
    display: flex;
}

footer .uppercontent h2{
    position: relative;
    margin-left: 37vw;
    font-weight: 400;
    margin-top: 1.5rem;
}

footer .logo{
    width: 14rem;
    position: absolute;
}

footer li a{
    color: black;
}

footer .middlecontent{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 2.5rem;
    width: 90vw;
    margin: auto;
    margin-top: 5rem;
}

footer .middlecontent p{
    text-align: justify;
}

footer .middlecontent h2{
    font-size: 1.5rem;
    font-weight: 400;
}

footer ul{
    color: rgb(63, 63, 63);
    margin-top: 1rem;
    font-weight: 100;
}

footer li{
    color: rgb(63, 63, 63);
    margin-top: 0.7rem;
    font-size: 1.1rem;
}
footer li:hover{
    font-size: 1.1rem;
    color: rgb(63, 63, 63);
    margin-top: 0.7rem;
    border-bottom: 1px solid rgb(63, 63, 63);
}

footer .medialinks{
    text-align: center;
    margin-top: 3rem;
}

footer .medialinks h2{
    font-weight: 400;
    font-size: 1.4rem;
}

footer .medialinks i{
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-left: 0.4rem;
    color: rgb(63, 63, 63);
}


footer .copyright p{
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 1.3rem;
}
footer .copyright h6{
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0.2rem;
}

footer .copyright i{
    color: rgb(115, 0, 255);
}


@media (max-width:992px) {
    footer{
        height: auto;
    }
    footer h2{
        font-weight: 400;
        font-size: 1.4rem;

    }
    footer .logo{
        width: 8rem;
        position: absolute;
    }
    footer .middlecontent{
        display: flex;
        flex-direction: column;
    }
    footer ul{
        color: rgb(63, 63, 63);
        margin-top: 0rem;
    }
    
    footer li{
        color: rgb(63, 63, 63);
        margin-top: 0rem;
        font-size: 1rem;
        text-align: left;
    }
    footer li:hover{
        /* color: rgb(255, 0, 0); */
        margin-top: 0rem;
        font-size: 1rem;
        border: none;
    }
    footer .copyright p{
        text-align: center;
        margin: auto;
        width: 90vw;
        font-size: 1rem;
        font-weight: 400;
        margin-top: 0.2rem;
        padding-bottom: 1rem;
    }
    
}

.swiper-pagination-bullet{
    width: 60px;
    height: 2px;
    border-radius: 2px ;
    color: #716f69;
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap,0px);
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap,0px);
    
}

@media (max-width:992px) {

    .swiper-pagination-bullet{
        width: 24px;
        height: 2px;
        border-radius: 2px ;
        color: #716f69;
        margin: 0 var(--swiper-pagination-bullet-horizontal-gap,0px);
    }
    
    .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
        margin: 0 var(--swiper-pagination-bullet-horizontal-gap,0px);
        
    }
    
}

/* Contact Page */
.contactpageimg{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

h2.center{
    text-align: center;
    margin: 0;
    font-size: 2.5rem;
    color: white;
    margin-top: -50vh;
    font-weight: 400;
}

/* Enlightment */

div.enlightment{
    padding: 3rem;
    background-color:#FFFBEB;;
}


p.context{
    width: 70vw;
    margin: auto;
    font-size: 1.5rem;
    font-weight: 300;
    padding-top:1rem ;
    text-align: center;
}
@media (max-width:768px) {
    p.context{
        font-size: 0.9rem;
        width: 85vw;
    }
    div.enlightment{
        padding: 1.5rem;
    }
    
}
/* Image Slider */


.swiper {
    width: 100%;
    height: 100%;
    padding: 2rem;
    
}
.swiper-wrapper{
    display: flex;
    align-items: center;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: #f6ffde;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    object-fit: cover;
    align-items: center;
}

.swiper-slide .ver {
    width: 300px;
    height: 500px;
    object-fit: cover;
    align-items: center;
}
.swiper-slide .hor {
    width: 400px;
    height: 300px;
    object-fit: cover;
    align-items: center;
}


.swiper {
    margin-left: 0rem;
    margin-right: 0rem;
}
.swiper-button-prev{
    color: rgb(255, 204, 138);
}
.swiper-button-next{
    color: rgb(255, 204, 138);
}

.line-slider{
    width: 200px;
}


@media (max-width:992px) {
    .swiper {
        width: 100%;
        height: 100%;
        padding: 2rem;
        
    }
    .swiper-slide .ver {
        width: 250px;
        height: 400px;
        object-fit: cover;
        align-items: center;
    }
    .swiper-slide .hor {
        width: 350px;
        height: 250px;
        object-fit: cover;
        align-items: center;
    }
    
}

/* .Accomodations */
div.accomodations{
    width: 100vw;
    margin-left: -1rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.house{
    display: flex;
    gap: 1rem;
    width: 100vw;
    margin: auto;
    padding-top: 1.5rem;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.shalu {
    position: relative;
    width: 34rem;
}

.shalu .image{
    width: 34rem;
    height: 24rem;
    object-fit: cover;
    margin-left: 1rem;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.shalu:hover .image {
    opacity: 0.6;
}
  
.shalu:hover .middle {
    opacity:1;
    cursor: pointer;
    
}
  
.text {
    color: white;
    font-size: 1.7rem;
}
h3{
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    padding-top: 1rem;
}
p.link{
    text-align: center;
    font-size: 1.4rem;
    margin-top: 1rem;
}
p.link:hover{
    text-align: center;
    text-decoration: underline;
    color: purple;
}
h1{
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;
}

@media (max-width:992px) {
    h1{
        font-size: 2rem;
    }
    .house{
        display: flex;
        margin: auto;
        width: 90vw;
        padding-top: 1.5rem;
        justify-content: center;
        align-items: center;
    }
    .shalu{
        width: 45vw;
        margin: auto;
    }
}
@media (max-width:768px) {
    .house{
        display: flex;
        flex-direction: column;
        gap: 1;
        width: 100vw;
        margin: auto;
        padding-top: 1.5rem;
        justify-content: center;
        align-items: center;
    }
    .shalu{
        width: 80vw;
        margin: auto;
    }
    .shalu .image{
        width: 90vw;
        margin: auto;
        object-fit: cover;
        margin-left: -0.5rem;
        opacity: 1;
        display: block;
        transition: .5s ease;
        backface-visibility: hidden;
    }
    
    h3{
        font-size: 1.4rem;
        font-weight: 300;
        text-align: center;
        padding-top: 0rem;
    }
    p.link{
        text-align: center;
        padding-top: 1rem;
    }
}


/* Experiences */
.experiences{
    width: 100vw;
    display: flex;
    margin-top: 2rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}
.fish{
    position: relative;
    width: 22rem;
}
.fish .exp{
    width: 22rem;
    height: 18rem;
    opacity: 1;
    object-fit: cover;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.fish:hover .exp {
    opacity: 0.5;
    background-color: #fff;
}
.fish:hover .middle {
    opacity:1;
    cursor: pointer;
    
}


/* About Section */
div.container{
    background-color: #f6ffde;
}
div.about{
    width: 90vw;
    margin: auto;
}
.aboutimg{
    width: 70vh;
}

.abouttext{
    width: 70vw;
    margin: auto;
    font-size: 1.7rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.imgabout{
    width: 30rem;
    height: 20rem;
    margin-left: 2rem;
}
.imgabout1{
    width: 30rem;
    height: 20rem;
    margin-right: 2rem;
}
.about1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 70vw;
    margin-top: 2rem;
}
.about1 div{
    font-size: 1.5rem;
    text-align: justify;
}
.aboutsection h1{
    margin-top: 1rem;
}
@media (max-width:768px) {
    div.about{
        width: 100vw;
        margin: auto;
    }
    .about1{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        width: 90vw;
        margin-top: 2rem;
    }
    .imgabout{
        width: 10rem;
        height: 8rem;
        margin-left: 1rem;
        display: none;
    }
    .imgabout1{
        width: 10rem;
        height: 8rem;
        margin-right: 1rem;
        display: none;
    }
    
}

@media (max-width:992px) {
    div.about{
        width: 100vw;
        margin: auto;
    }
    .about1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        width: 90vw;
        margin-top: 2rem;
    }
    .aboutimg{
        width: 20rem;
    }
    .abouttext{
        width: 90vw;
        margin: auto;
        font-size: 1rem;
        text-align: center;
    }
    .about1 div{
        font-size: 1.1rem;
        text-align: justify;
    }
    .imgabout{
        width: 20rem;
        height: 15rem;
        margin-left: 2rem;
    }
    .imgabout1{
        width: 20rem;
        height: 15rem;
        margin-right: 2rem;
    }
    
}

/* Contact page */
.enquiry{
    width: 70vw;
    height: 20vh;
    margin: auto;
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    font-size: 2rem;
    text-align: center;
    align-items: center;
}
.maincontact{
    display: flex;
    justify-content: space-between;
    width: 70vw;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.reachus{
    width: 50%;
}
.sendmessage{
    width: 40%;
}
.maincontact h1{
    text-align: left;
}
.reachus h3{
    text-align: left;
}
.info i{
    font-size: 2rem;
    color: rgb(77, 68, 57);
}
.info{
    display: flex;  
    margin-top: 1.5rem;
    align-items: center;
}
.minfo{
    padding-left: 1rem;
    padding-top: 1rem;
}
input{
    padding: 0.5rem;
    width: 100%;
    background-color: #FFFBEB;
    margin-top: 1rem;
    border: 1px groove rgb(77, 68, 57);
    border-radius: 5px;
}

textarea{
    width: 100%;
    height: 20vh;
    border: 1px groove rgb(77, 68, 57);
    background-color: #FFFBEB;
    padding: 0.5rem;
    margin-top: 1rem;
    border-radius: 5px;
}
button.sendm{
    width: 100%;
    margin-top: 1rem;
    padding: 0.5rem;
    font-size: 1.1rem;
    color: white;
    background-color: rgb(77, 68, 57);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
div.directions{
    width: 70vw;
    margin: auto;
}
div.directions p{
    font-size: 1.4rem;
    margin-top: 2rem;
}
div.directions li{
    list-style:decimal;
    text-align: left;
    margin-left:  3rem;
    font-size: 1.2rem;
    margin-top: 1rem;
}
.detail{
    margin-top: 2rem;
}
div.map iframe{
    width: 70vw;
    height: 40vh;
    margin-top: 4rem;

}

@media (max-width:992px) {
    .enquiry{
        font-size: 1.2rem;
    }
    .maincontact{
        width: 85vw;
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }
    .reachus{
        width: 100%;
    }
    .sendmessage{
        width: 100%;
    }
    div.directions{
        width: 90vw;
    }
    div.directions li{
        list-style:decimal;
        text-align: left;
        margin-left:1rem;
        font-size: 1rem;
        margin-top: 1rem;
    }
    div.map iframe{
        width: 90vw;
        height: 40vh;
        margin-top: 4rem;
    
    }
}

/* Gallery */
.gallery{
    width: 90vw;
    margin: auto;
    margin-top: 2rem;
}
.row {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    padding: 0 10px;
}
.column {
    -ms-flex: 25%; 
    flex: 25%;
    max-width: 25%;
    padding: 0px 10px;

}
.column img {
    margin-top: 15px;
    vertical-align: middle;
    width: 100%;
    box-shadow: 0px 0px 20px #716f69;
}

@media screen and (max-width: 900px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
@media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
}

.accommodation1{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 70vw;
    margin: auto;
    position: relative;
    padding: 4rem;
}
.accommodation2{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 70vw;
    margin: auto;
    position: relative;
    z-index: 99;
    padding: 4rem;
}
.accommodation1 h1{
    text-align: left;
}
.accommodation2 h1{
    text-align: left;
}

.accommodation1 img {
    width: 50rem;
    height: 30rem;
    object-fit: cover;
    
}
  
  
.accommodation2 img{
    width: 50rem;
    height: 30rem;
    object-fit: cover;
   
}
 
.more{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 20px #716f69;
    position: absolute;
    left: 0;
    width: 30rem;
    padding: 1.4rem;
}
.more1{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 20px #716f69;
    position: absolute;
    right: 0;
    width: 30rem;
    padding: 1.4rem;
}
.more p{
    font-size: 1.2rem;
}
.more1 p{
    font-size: 1.2rem;
}

@media (max-width:992px) {
    .more p{
        font-size: 1rem;
    }
    .more h1{
        font-size: 1.4rem;
    }
    .accommodation1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .accommodation2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .more{
        display: flex;
        flex-direction: column;
        width: 15rem;
        gap: 10px;
        position: relative;
        padding: 1rem;
    }
    .more1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 15rem;
        gap: 10px;
        position: relative;
        padding: 1rem;
    }
    .accommodation2 img{
        text-align: start;
        width: 80vw;
        height: 40vh;
    }
    .accommodation1 img{
        text-align: left;
        width: 80vw;
        height: 40vh;
    }
    
}


/* FAQs */
.faq{
    width: 80vw;
    margin: auto;
    margin-top: 4rem;
}

@media (max-width:992px) {
    .faq{
        width: 90vw;
        margin: auto;
        margin-top: 2rem;
    }
    
}

.ctxt{
    margin: 2rem;
}

.accordion {
    border: 1px groove #716f69;
    background-color: #c9d6ac;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.5rem;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  .accordion:after {
    content: '\002B';
    font-size: 2rem;
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
    font-size: 2rem;
  }
  
  .panel {
    padding: 0 10px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .panel p{
    padding: 1rem;
  }