*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
    cursor: pointer;
}

hr{
    width: 90vw;
    margin: auto;
    margin-top: 2rem;
}

h2{
    font-size: 2rem;
}

p{
    margin-top: 1rem;
    font-size: 1.1rem;
    text-align: justify;
}

.showcase{
    min-height: 100vh;
    right: 0;
    width: 100%;
    position: relative;
    z-index: 2;
}

header{
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.329);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.whitelogo{
    width: 12rem;
    margin-left: 4rem;
}

.navlinks{
    display: flex;
    margin-right: 2rem;
    
}

.hamburger{
    font-size: 2rem;
    color: white;
    margin-right: 2rem;
    display: none;
    
}

.hamburger.cross i:before {
    content: "\f00d"; /* Unicode for Font Awesome cross icon */
    transition: 1s ease-in;
}

.navlinks a li{
    list-style: none;
    font-size: 1.2rem;
    margin-right: 2rem;
    color: white;
    text-decoration: none;
}

.navlinks a li:hover{
    list-style: none;
    font-size: 1.2rem;
    margin-right: 2rem;
    color: white;
    border-bottom: 1.4px solid white;
    cursor: pointer;
}

video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    top: 0;
    left: 0;
}

.overcontent{
    display: flex;
    position: absolute;
    flex-direction: column;
    color: white;
    margin-left: 4rem;
    margin-top: -20rem;
    position: relative;
    z-index: 10;
    width: 70vw;

}

.explore{
    width: 8rem;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    padding:0.5rem 1rem;
    border-radius: 0;
    background-color: white;
    border: none;
    cursor: pointer;
}

.explore:hover{
    width: 9rem;
    transition: 0.5s ease-in-out;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding:0.5rem 1rem;
    border-radius: 0;
    border: none;
}

@media (max-width:992px) {
    .hamburger{
        display: block;
    }
    header::after{
        background-color: rgba(0, 0, 0, 0.619);
    }
    .navlinks:active{
        display: block;
    }
    .navlinks{
        display: none;
        position: absolute;
        top: 83px;
        width: 100%;
        height: 90vh;
        padding-top: 1rem;
        background-color: rgba(0, 0, 0, 0.619);
        z-index: 1000;
    }

    .navlinks a li{
        text-align: center;
        padding-top: 1rem;
        margin-left: 0rem;
        font-size: 1.2rem;
        margin-right: 0rem;
    }
    li{
        text-align: center;
        padding-top: 1rem;
        margin-left: 0rem;
        font-size: 1.2rem;
        margin-right: 0rem;
    }
    .whitelogo{
        width: 10rem;
        margin-left: 2rem;
    }
    h2{
        font-size: 1.5rem;

    }
    .overcontent{
        margin-left: 2rem;
        width: 90%;
    }
    .nav-active {
        display: block;
    }

    .explore{
        font-size: 1rem;
        width: 6rem;
    }

    .explore:hover{
        font-size: 1rem;
        width: 7rem;
    }
}

div.container{
    width: 100vw;
    height: auto;
    background-color: white;
}


/* Footer Content */
footer{
    background-image: url("Photos/footer_background.jpg");
    background-size: cover;
    width: 100%;
    height: auto;
    color: rgb(63, 63, 63);
    padding-top: 2rem;

}

footer .uppercontent{
    width: 90vw;
    margin: auto;
    display: flex;
}

footer .uppercontent h2{
    position: relative;
    margin-left: 37vw;
    font-weight: 400;
    margin-top: 1.5rem;
}

footer .logo{
    width: 14rem;
    position: absolute;
}

footer .middlecontent{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 2.5rem;
    width: 90vw;
    margin: auto;
    margin-top: 5rem;
}

footer .middlecontent h2{
    font-size: 1.5rem;
    font-weight: 400;
}
footer ul{
    color: rgb(63, 63, 63);
    margin-top: 1rem;
    font-weight: 100;
}

footer li{
    color: rgb(63, 63, 63);
    margin-top: 0.7rem;
    font-size: 1.1rem;
}
footer li:hover{
    font-size: 1.1rem;
    color: rgb(63, 63, 63);
    margin-top: 0.7rem;
    border-bottom: 1px solid rgb(63, 63, 63);
}

footer .medialinks{
    text-align: center;
    margin-top: 3rem;
}

footer .medialinks h2{
    font-weight: 400;
    font-size: 1.4rem;
}

footer .medialinks i{
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-left: 0.4rem;
    color: rgb(63, 63, 63);
}


footer .copyright p{
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 1.3rem;
}
footer .copyright h6{
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0.2rem;
}

footer .copyright i{
    color: rgb(115, 0, 255);
}

@media (max-width:992px) {
    footer{
        height: auto;
    }
    footer .logo{
        width: 8rem;
        position: absolute;
    }
    footer .middlecontent{
        display: flex;
        flex-direction: column;
    }
    footer ul{
        color: rgb(63, 63, 63);
        margin-top: 0rem;
    }
    
    footer li{
        color: rgb(63, 63, 63);
        margin-top: 0rem;
        font-size: 1.2rem;
    }
    footer li:hover{
        /* color: rgb(255, 0, 0); */
        margin-top: 0rem;
        font-size: 1.2rem;
        border: none;
    }
    footer .copyright h6{
        text-align: center;
        font-size: 1rem;
        font-weight: 400;
        margin-top: 0.2rem;
        padding-bottom: 1rem;
    }
    
}


/* Contact Page */
.contactpageimg{
    /* background-size: cover; */
    width: 100vw;
    height: 100vh;
}

h2.center{
    text-align: center;
    margin: 0;
    font-size: 2.5rem;
    color: white;
    margin-top: -50vh;
    font-weight: 400;
}

@media (max-width:992px) {
    .contactpageimg{
        width: auto;
        height: 100vh;
    }    
}